
<footer class="well">
    <div class="container">
        <div class="row">
            <div class="span9 bottom-nav">
                <ul class="nav nav-list">
                    <li class="active"><a href="index.jsp" title="Home">back to home</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="container subfooter">
    <div class="row">
        <div class="span12">
            <p class="pull-right">
                <a href="#">Back to top</a> &nbsp | &nbsp 
                <a href="login.jsp" title="Login">Login</a> &nbsp | &nbsp
                <a href="signup.jsp" title="Signup">Sign Up</a>
            </p>
            <p class="copyright"> No Copyright &copy;</p>
        </div>
    </div>
</div>